label live
	menu label Temple4 (default)
    kernel /live/vmlinuz 
    append initrd=/live/initrd.img boot=live locales=en_US.UTF-8 keyboard-layouts=us 
    
label lang
        menu label Other language (TAB to edit)
    kernel /live/vmlinuz
    append initrd=/live/initrd.img boot=live    locales=en_US.UTF-8 keyboard-layouts=us

label toram
	menu label Temple4 (load to RAM)
    kernel /live/vmlinuz
    append initrd=/live/initrd.img boot=live  toram    

label failsafe
	menu label Temple4 (failsafe)
    kernel /live/vmlinuz noapic noapm nodma nomce nolapic nosmp forcepae nomodeset vga=normal    
    append initrd=/live/initrd.img boot=live locales=en_US.UTF-8 keyboard-layouts=us 

label memtest
	menu label Memory test
    kernel /live/memtest

label chain.c32 hd0,0
	menu label Boot hard disk
	chain.c32 hd0,0
	
label harddisk
	menu label Boot hard disk (old way)
	localboot 0x80
